#root {
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    #root {
        width:100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #root {
        max-width:720px;
        
        
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #root {
        max-width: 960px;
        
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #root {
        max-width: 1140px;

    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    #root {
        max-width: 1320px;
        
    }
}