body{
    background-color: lightgray;
}

/* The root element */
#root {    
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

/* The layout grid */
#layout{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "header"
    "content"
    "footer"
}

/* The header */
#layout header{
    grid-area: header;
    background-color: white;
}

/* The content */
#layout main{
    grid-area: content;
    background-color:cornsilk
}

/* The footer */
#layout footer{
    grid-area: footer;
    background-color: honeydew;
}

/* The cards */
#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* The card sections */
#cards section{
    flex: 0 1 100%;
    padding:2em;
}

#cards section div{
    border: 1px rgba(0, 0, 0, 0.1) solid;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2)
}

#cards .card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#cards .card .cardTitle{
    flex:0 1 200px;
}

#cards .card .cardText{
    flex:0 1 100px;
}

#cards .card .cardFooter{
    flex:0 1 50px;
}

/* The header titles */
header h2 {
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    color: rgb(106, 106, 106);
    margin-top:2em;  
}

/* The header image */
header img{
    display: block;
    margin:1em  auto 2em;
}

footer ul{
    margin:2em 2em 0 0;
    padding:0;
    display:flex;
    flex-direction:row;
    flex-wrap: nowrap;
    justify-content: center;
}

footer address{
    margin-top:2em;
    text-align: center;
    font-size: small;
    color: lightgray;
}
footer ul a:link{
    text-decoration: none;
    color: rgb(114, 113, 113);
}

footer ul a:hover{
    text-decoration: none;
    color: black;
}


footer ul img, footer ul span{
    display: block;
    margin:0 auto;
    text-align: center;
}

footer ul li{
    list-style-type: none;
    padding:0 1em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
    #root {
        width:100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #root {
        max-width:720px;         
    }

    #cards section{
        flex:0 1 50%
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #root {
        max-width: 960px;        
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    #root {
        max-width: 1140px;
    }
    #cards section{
        flex:1 1 33%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { 
    #root {
        max-width: 1320px;        
    }
}