@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: Verdana, Arial, serif;
  font-size: 100%;
  background-color: white;
  margin: 0;
}

/* link styles */
a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }

a {
 text-decoration: none;
  border-bottom: 1px dotted;
  padding-bottom: .2em;
}


/* header styles */
header {
  color: white;
  background:  url(images/croissants_banner.jpg) no-repeat center center;
  background-size: cover; 
  text-align: center;
  height: 13em;
}
header h1 {
  margin-top: 1.5em;
}
header p {
  display: none;
}


/* nav styles */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #783F27;
}
nav ul li a:link, nav ul li a:visited {
  color: #F9AB33;
}
nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
 font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
  flex: 1 1 50%;
}
nav ul li a { 	
  display: block; 	
  border: 1px solid; 
  padding: .5em 1em; 	
  border-radius: .5em; 
  margin: .25em; 
  } 	


/* main "products" styles */
main {
  font-size: 1em;
  line-height: 1.4em;
  color: #555;
  margin: 2.5%;
}
h2 {
  font-family: Georgia, serif;
  font-weight: normal;
  font-size: 1.5em;
}
h3 {
  font-family: Verdana, sans-serif;
  font-weight: normal;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  color: #7A0002;
  border-top: 1px solid;
  margin-top: 1.5em;
}
p.more {
  font-family: verdana, sans-serif;
  text-transform: uppercase; 
  font-size: .8em;
  clear: left;
}
main img {
  display: block;
  margin: .5em auto;
}
/*




/* aside "hours" styles */
aside {
  background: url(images/scallop_top.png) repeat-x left top; 
  background-color: #F6F3ED;
  padding: 1em;

}
/* misc styles */
footer {
  color: #EADDC4;
  text-align: center;
  font-size: .8em;
  padding: 1em;
}
.day {
  color: #783F27;
  font-family: verdana, sans-serif;
  font-size: .8em;
  text-transform: uppercase;
}
.linelength {
  background: yellow;
} 

@media screen and (min-width: 400px) {
  nav ul li {
    flex: none;
  }
  nav ul {
    justify-content: center; 
  }
}

@media screen and (min-width: 480px) {
  main img {
    float: left;
    margin: 0 1em 1em 0;
  }

  img[src*="muffin"] {
    margin-left: 50px;
    -webkit-shape-outside: url(images/muffin.png);  
    shape-outside: url(images/muffin.png);  
    -webkit-shape-margin: 1em; 
    shape-margin: 1em;
  }
  img[src*="bread"] {
    -webkit-shape-outside: url(images/bread.png);  
    shape-outside: url(images/bread.png);    
    -webkit-shape-margin: 1em; 
    shape-margin: 1em;
  }
}

@media screen and (min-width: 600px) {
  header p {
    display: block;
    margin-top: -1.5em;
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 1.2em;
  }
  main, h2, h3 {
    font-family: 'Stint Ultra Expanded', Georgia, serif; 
  }
  h2, h3 {
    font-weight: bold;
  }
  main {
    line-height: 1.8em;
    padding: 1em;
    border: double 4px #EADDC4;
    border-radius: 25px;
    margin: 2.5%; 
  }
}

@media screen and (min-width: 940px) {
  #container {
    display: grid;
    grid-template-rows: auto min-height 5em;
    grid-template-columns: minmax(25em, 1fr) 16em;
    grid-template-areas: 
      "banner banner"
      "main hours"
      "footer footer";
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  header {
    grid-area: banner;
  }
  main {
    grid-area: main;
  }
  aside {
    grid-area: hours;
    background: url(images/scallop.png) repeat-y left top;
    background-color: #F6F3ED;
    padding: 1em;
    padding-left: 45px;
  }
  footer {
    grid-area: footer;
  }
  #award { 	
    position: absolute; 	
    top: 30px; 	
    left: 50px;
  }
} 


/* CSS Document */

